@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


$font-text: 'Roboto Condensed', sans-serif; 
$color-primary: #0282F9;
$color-secondary: #303030;
$text-color: #797979;
$hover-color: #2095FA;

.container{
    width: 920px;
}